en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
praw==7.7.0
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
flask
flask_cors