@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Mountains+of+Christmas&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: rgb(231, 231, 231);
  min-height: 100%;
  min-width: 100%;
}

.App {
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.Title {
  display: block;
}

.Title h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

select {
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #f1f1f1;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: #232729;
  border-radius: 5px;
  background-color: #3498db;
  color: rgba(0, 0, 0, 0.849);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #2980b9;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  gap: 2rem;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.post h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.post p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.post a {
  font-size: 1rem;
  color: #3498db;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.post a:hover {
  color: #2980b9;
}

.comment-container {
  display: block;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 1rem;
  border: 1px solid #212121;
  border-radius: 0.25rem;
  background-color: #fff; /* Set the background color to white */
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #212121;
  border-radius: 0.25rem;
}

.comment h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.comment p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.wrapper .multi_color_border {
  width: 100%;
  height: 5px;
  background: linear-gradient(
    to right,
    #3e3e3e 0%,
    #5d5d5d 25%,
    #7d7d7d 25%,
    #3a3a3a 50%,
    #6d6d6d 50%,
    #a6a6a6 75%,
    #494949 75%,
    #494949 100%
  );
}

.wrapper .top_nav {
  margin-top: 5px;
  width: 100%;
  height: 55px;
  background: #212121;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .top_nav .left {
  display: flex;
  align-items: center;
}

.wrapper .top_nav .left .logo {
  display: flex;
}

.wrapper .top_nav .left .logo img {
  width: 60px;
  height: 55px;
  margin-right: 20px;
}

.wrapper .top_nav .left .logo p {
  font-size: 22px;
  font-weight: bold;
  color: rgb(195, 195, 195);
  font-style: italic;
  margin-right: 15px;
  margin-top: 15px;
}

.wrapper .top_nav .right {
  margin-left: 20%;
}

.wrapper .top_nav .right ul {
  display: flex;
}

.wrapper .top_nav .right ul li i {
  color: rgb(140, 140, 140);
  margin-right: 5px;
}

.wrapper .top_nav .right ul li {
  margin-left: 35px;
  color: rgb(140, 140, 140);
  font-size: 14px;
}

.wrapper .top_nav .right li:last-child {
  background-color: #212121;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.wrapper .top_nav .right ul li:hover:last-child {
  background: #494949;
}

.wrapper .top_nav .right li a {
  color: #666666;
}

.wrapper .top_nav .right ul li:last-child a {
  color: #666666;
}

.wrapper .top_nav .left .search_bar input[type="text"] {
  border: 1px solid #666666;
  padding: 6px 50px;
  outline: none;
  transition: all 0.5s linear;
  margin-left: 50%;
  background-color: #353535;
  border-radius: 20px;
}

.wrapper .banner img {
  width: 100%;
  height: 400px;
}

section {
  display: flex;
}

article {
  width: 65%;
  height: auto;
}

.Barra-Contenedor .bottom_nav {
  width: auto;
  background: #296b98;
  height: 70px;
}

.Barra-Contenedor .Barra .user .avatar {
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  margin-left: 13%;
  margin-top: 5px;
}

.Barra-Contenedor .Barra {
  width: 1450px;
  background-color: #212121;
  height: 75px;
}

.Barra-Contenedor .Barra div {
  display: flex;
}

.Barra-Contenedor .Barra .user .Name {
  margin-top: 2px;
  margin-left: 15px;
  font-size: 32px;
  list-style: none;
  color: rgb(213, 213, 213);
  display: table;
}

.Barra-Contenedor .Barra .user .Name li {
  font-size: 18px;
  list-style: none;
  color: rgb(140, 140, 140);
  font-weight: none;
}

.Contenedor .Cont-Left .BarraPost {
  width: 903.5px;
  padding: 30px;
  margin-top: 16px;
  text-align: center;
  margin-left: 17.5px;
  background-color: #212121;
  border-radius: 5px;
  display: flex;
  font-weight: bold;
  border: 1px solid rgb(86, 86, 86);
}

.Contenedor .Cont-Left .BarraPost .MenuPost ul {
  display: flex;
}

.Contenedor .Cont-Left .BarraPost .MenuPost ul li {
  display: flex;
  margin-left: 35px;
}

.Contenedor .Cont-Left .BarraPost .MenuPost ul li a {
  color: rgb(140, 140, 140);
  font-size: 15px;
  margin-left: 5px;
}

.Contenedor .Cont-Left .BarraPost .MenuPost ul li i {
  color: rgb(140, 140, 140);
}

.Contenedor .Cont-Left .Post {
  width: 96%;
  height: 100%;
  margin-top: 15px;
  margin-left: 17.5px;
  background: #212121;
  border-radius: 7px;
  display: flex;
  border: 1px solid rgb(86, 86, 86);
}

aside {
  width: 420px;
  height: 600px;
}

.Cont-Right .Community {
  width: 111%;
  height: 450px;
  margin-top: 15px;
  margin-left: 20px;
  background: #212121;
  border-radius: 7px;
  display: table;
  border: 1px solid rgb(86, 86, 86);
}

.Cont-Right .Community .InfoCommunity {
  font-size: 18px;
  display: table;
  margin-left: 5px;
}

.Cont-Right .Community .InfoCommunity p {
  color: rgb(140, 140, 140);
  display: flex;
  margin-top: 5%;
  font-size: 19px;
}

.Cont-Right .Community .InfoCommunity p a {
  color: rgb(140, 140, 140);
  font-size: 18px;
  margin-left: 275px;
  margin-top: -2%;
  margin-right: 5px;
}

.Cont-Right .Community .InfoCommunity li span {
  color: rgb(213, 213, 213);
  display: table;
  margin-top: 7%;
  margin-bottom: 3%;
}

.Cont-Right .Community .InfoCommunity li {
  color: rgb(140, 140, 140);
}

.Cont-Right .Community .InfoCommunity li i {
  color: rgb(213, 213, 213);
  margin-right: 10px;
}

.Cont-Right .Community .InfoCommunity .linea {
  width: 97.5%;
  height: 1px;
  margin-left: 2%;
  margin-top: 2%;
  background-color: rgb(86, 86, 86);
}

.Cont-Right .Community .Users {
  display: flex;
  margin-left: 3px;
  margin: 3%;
  margin-top: 8%;
}

.Cont-Right .Community .Users p {
  color: rgb(213, 213, 213);
  font-size: 22px;
}

.Cont-Right .Community .Users li {
  color: rgb(140, 140, 140);
  font-size: 18px;
}

.Cont-Right .Community .Users .Members {
  margin-right: 30%;
}

.Cont-Right .Community .Users .Online li i {
  color: rgb(2, 205, 2);
  font-size: 10px;
  margin-right: 5px;
  vertical-align: top;
  margin-top: 6px;
}

.Cont-Right .Community .Users .Online li span {
  color: rgb(213, 213, 213);
  font-size: 22px;
}

.Cont-Right .Community .linea2 {
  width: 95%;
  height: 1.5px;
  margin-left: 2%;
  margin-top: 2%;
  background-color: rgb(86, 86, 86);
}

.Cont-Right .Moderator {
  border: 1px solid rgb(86, 86, 86);
  width: 465px;
  height: 300px;
  margin-top: 15px;
  margin-left: 20px;
  background: #212121;
  border-radius: 7px;
  display: flex;
}

.CreatePost .Button-Post {
  background-color: rgb(213, 213, 213);
  border-radius: 20px;
  border: 0;
  color: #212121;
  margin-top: 8%;
  margin-left: 2.1%;
  width: 445px;
  height: 50px;
}

.Cont-Right .Community .linea3 {
  width: 95%;
  height: 1.5px;
  margin-left: 2%;
  margin-top: 7%;
  background-color: rgb(86, 86, 86);
}

.Cont-Right .Community .Options {
  display: flex;
  margin-top: 1%;
  margin-left: 5%;
}

.Cont-Right .Community .Options ul li i {
  color: rgb(213, 213, 213);
  margin-right: 10px;
}

.Cont-Right .Community .Options ul li a {
  color: rgb(213, 213, 213);
  margin-left: 10px;
  font-size: 32px;
}

.comments-container {
  margin: 60px auto 15px;
  width: 100%;
}

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

.comments-list:before {
  content: "";
  width: 2px;
  height: auto;
  background: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 32px;
  margin-left: -1px;
}

.reply-list:before,
.reply-list:after,
.comments-list:before,
.comments-list:after {
  content: "";
  display: table;
}

.reply-list:after,
.comments-list:after {
  clear: both;
}

.comment-box {
  width: 100%;
  margin-bottom: 15px;
}

.comment-box .comment-head {
  overflow: hidden;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
  font-size: 18px;
  float: right;
  margin-left: 5px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.comment-box .comment-head i:hover {
  color: #3498db;
}

.comment-box .comment-head img {
  width: 45px;
  height: 45px;
  float: left;
  border-radius: 50%;
  margin-right: 5px;
}

.comment-box .comment-head .comment-name {
  color: #3498db;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 5px;
}

.comment-box .comment-head .comment-time {
  float: left;
  color: #aaa;
  font-size: 12px;
  margin-left: 15px;
}

.comment-box .comment-content {
  background: #ffffff;
  padding: 15px;
  border-radius: 0 0 4px 4px;
}

.reply-list {
  padding-left: 80px;
  padding-top: 0;
}

.reply-list .comment-box {
  margin-left: 50px;
}

.reply-list .comment-box:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #f9f9f9;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 15px;
  left: -10px;
}

.reply-list .comment-box:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #ffffff;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 15px;
  left: -8px;
}

.reply-list .comment-box .comment-head {
  background: #f9f9f9;
  position: relative;
  margin-left: 60px;
}

.reply-list .comment-box .comment-head:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #f9f9f9;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 15px;
  left: -20px;
}

.reply-list .comment-box .comment-head:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #ffffff;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 15px;
  left: -18px;
}

.reply-list .comment-box .comment-name {
  color: #8ebf42;
}

.reply-list .comment-box .comment-content {
  background: #f0f0f0;
}

/* Responsive */
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }

  .comments-list .comment-box {
    width: 390px;
  }

  .reply-list .comment-box {
    width: 320px;
  }
}
