.App {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.Title {
  display: block;
}

.Title h1 {
  justify-content: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

select {
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #f1f1f1;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: #232729;
  border-radius: 5px;
  background-color: #3498db;
  color: rgba(0, 0, 0, 0.849);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #2980b9;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
}

.post-container {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  gap: 2rem;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.post h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.post p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.post a {
  font-size: 1rem;
  color: #3498db;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.post a:hover {
  color: #2980b9;
}

.comment-container {
  display: block;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.comment h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.comment p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
